
h1 {
    text-transform: uppercase;
    text-shadow: -3px 0 orangered, 3px 0 yellow;
    letter-spacing: 2px;
    font-size: 50px;
    color: hotpink;
    font-family: "Georgia", serif;
    -webkit-animation: my-animation 2s ease 0s infinite alternate;
    animation: my-animation 2s ease 2s infinite alternate
}
